/* Global Styles */
body {
  background-image: url('../img/space.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.space {
  height: 100px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.border {
  border-radius: 100%;
}
.border2 {
  border-radius: 50%;
}
/* Title Styles */
#title {
  padding-top: 165px;
  padding-bottom: 165px;
}
.title-txt {
  color: white;
}
.title-img {
  border-radius: 100%;
}
.title-img:hover {
  animation: spin 2s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* About Styles */
#about {
  background-color: rgba(0, 0, 0, .45);
  padding-top: 25px;
  padding-bottom: 25px;
}
.about-txt {
  color: white;
}
/* Progamming Styles*/
#programming {
  background-color: rgba(0, 0, 0, .45);
}
.programming-project {
  height: 300px;
}
/* Videos Styles */
#videos {
  background-color: rgba(0, 0, 0, .45);
}
.video-project {
height: 300px;
}
/* Contact Styles */
#contact {
background-color: rgba(0, 0, 0, .45);
}
.list {
  list-style: none;
}
